html, body {
	font-family: "Lato", Helvetica, sans-serif;
}
.sidebar {
	background: url("../img/bg.jpg") repeat center center;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	text-align: center;
	padding: 20px 10px;
}
.details_wrap > h2 {
	font-size: 22px;
	font-weight: 400;
	line-height: 25px;
	color: #ffffff;
	margin: 20px 0 10px;
}
.details_wrap > p {
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	color: #ffffff;
	margin: 0 0 5px;
}
.profile_pic {
	display: inline-block;
	max-width: 200px;
}
img {
	max-width: 100%;
}

.social_icon {
	position: relative;
	font-size: 12px;
	width: 12px;
	height: 12px;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	margin: 10px;
	-webkit-transition: font-size 0.25s ease, width 0.25s ease, height 0.25s ease;
	-moz-transition: font-size 0.25s ease, width 0.25s ease, height 0.25s ease;
	-ms-transition: font-size 0.25s ease, width 0.25s ease, height 0.25s ease;
	transition: font-size 0.25s ease, width 0.25s ease, height 0.25s ease;
	transition-timing-function: cubic-bezier(.39,1.21,.64,1.69);
}
.social_icons_animate > .social_icon {
	font-size: 30px;
	width: 30px;
	height: 30px;
}
.social_icon > span {
	position: absolute;
	top: 2px;
	left: 3px;
	bottom: 2px;
	right: 2px;
	z-index: -1;
	border-radius: 50%;
}
.social_icon:hover > span,
.social_icon:focus > span {
	background: #ffffff;
}
.social_icon.facebook:hover,
.social_icon.facebook:focus {
	color: #527CA4;
}
.social_icon.twitter:hover,
.social_icon.twitter:focus {
	color: #65B2D5;
}
.social_icon.github:hover,
.social_icon.github:focus {
	color: #4183c4;
}