html, body {
	font-family: "Lato", Helvetica, sans-serif;
}
.sidebar {
	background: url("../img/bg.jpg") repeat center center;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	text-align: center;
	padding: 20px 10px;
}
.details_wrap > h2 {
	font-size: 22px;
	font-weight: 400;
	line-height: 25px;
	color: #ffffff;
	margin: 20px 0 10px;
}
.details_wrap > p {
	font-size: 14px;
	font-weight: 300;
	line-height: 17px;
	color: #ffffff;
	margin: 0 0 5px;
}
.profile_pic {
	display: inline-block;
	max-width: 200px;
}
img {
	max-width: 100%;
}